body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  /* this means divs inside of sections (space adds specifity)*/
  section div{
    background: orange;
  }
  /*selectors can be comma seperated to refrence multiple tags*/

  /* this means any div with the class not-top in a section*/
  section div.not-top{
    color: red
  }

  /*this means any div with the class not-top AND not-bottom in a section*/
  section div.not-top.not-bottom{
    color: purple
  }

  /*this means anything with the class not-bottom*/
  .not-bottom{
    color: rebeccapurple
  }
  /*: means */

  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    background-color: gray;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
  }
  /*: means pseudoclass it is possible to interact with the user this way*/
  li:hover {
    background-color: red;
  }
  li:first-child {
    margin-left: 0;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .feature-box {
    display: flex;
  }
  .feature-box div {
    width: 100%;
    margin: 1px;
  }
  .feature-box.sales div {
    background: gray;
  }
  .feature-box.closeouts div {
    background: red;
  }